@font-face {
  font-family: "Poppins";
  src: url("./typography/fonts/Poppins-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Poppins";
  src: url("./typography/fonts/Poppins-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url("./typography/fonts/Poppins-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Poppins";
  src: url("./typography/fonts/Poppins-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Poppins";
  src: url("./typography/fonts/Poppins-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Poppins";
  src: url("./typography/fonts/Poppins-Black.ttf");
  font-weight: 800;
}

.heading1 {
  margin: unset;
  font-family: Poppins;
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 1.6rem;
}

.heading2 {
  margin: unset;
  font-family: Poppins;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5rem;
}

.heading3 {
  margin: unset;
  font-family: Poppins;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.heading4 {
  margin: unset;
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.heading5 {
  margin: unset;
  font-family: Poppins;
  font-size: 0.85rem;
  font-weight: 600;
  line-height: 1rem;
}

.body1 {
  margin: unset;
  font-family: Poppins;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.45rem;
}

.body2 {
  margin: unset;
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.4rem;
}

.body3 {
  margin: unset;
  font-family: Poppins;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.4rem;
}

.body4 {
  margin: unset;
  font-family: Poppins;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.4rem;
}

.description1 {
  margin: unset;
  font-family: Poppins;
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 0.75rem;
}

