/* Import Poppins from Google Fonts CDN */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* Typography Classes */
.heading1 {
  margin: unset;
  font-family: Poppins, sans-serif;
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 1.6rem;
}

.heading2 {
  margin: unset;
  font-family: Poppins, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5rem;
}

.heading3 {
  margin: unset;
  font-family: Poppins, sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.heading4 {
  margin: unset;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.heading5 {
  margin: unset;
  font-family: Poppins, sans-serif;
  font-size: 0.85rem;
  font-weight: 600;
  line-height: 1rem;
}

.body1 {
  margin: unset;
  font-family: Poppins, sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.45rem;
}

.body2 {
  margin: unset;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.4rem;
}

.body3 {
  margin: unset;
  font-family: Poppins, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.4rem;
}

.body4 {
  margin: unset;
  font-family: Poppins, sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.4rem;
}

.description1 {
  margin: unset;
  font-family: Poppins, sans-serif;
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 0.75rem;
}
